@import url("https://fonts.googleapis.com/css?family=Baloo+Da+2|Roboto&display=swap");
.App {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  font-family: "Baloo Da 2", cursive;
}
.center {
  width: 60%;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 5% 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  .changeMode {
    color: #fefcd7;
    background-color: #141852;
    padding: 1%;
    border-radius: 10px;
    font-size: 1.6rem;
  }
}
.navlinks {
  width: 45%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  a {
    text-decoration: none;
    color: black;
    padding: 3%;
  }
  a:hover {
    background-color: lightgrey;
  }
}
.name {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    text-decoration: none;
    color: black;
    padding: 3%;
  }
  a:hover {
    background-color: lightgrey;
  }
}

img {
  width: 100%;
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .mySection {
    width: 50%;
  }
  .imageWidth {
    width: 40%;
  }
  .img-hover-zoom {
    overflow: hidden;
    width: 40%;
  }
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform 0.5s ease;
  }

  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(3);
  }

  img {
    width: 100%;
  }
  .github {
    color: #24292e;
    background-color: #eff3f6;
    border: none;
    padding: 1% 3%;
    border: 1px solid #cdcfd1;
    margin-right: 2%;
    cursor: pointer;
    border-radius: 5px;
  }
  .github:hover {
    border: 1px solid #959596;
    background-color: #e3e6e9;
  }
  .linkedin {
    background-color: white;
    color: #0e76a8;
    border: none;
    padding: 1% 3%;
    border: 1px solid #0e76a8;
    margin-left: 2%;
    cursor: pointer;
    border-radius: 5px;
  }
  .linkedin:hover {
    background-color: rgb(241, 241, 241);
    border: 1px solid #0c6b97;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 0;
  margin-top: 10%;
}
.titles {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.icons {
  display: flex;
  justify-content: space-between;
  width: 10%;
}
.rotate {
  cursor: pointer;
}
.rotate:hover {
  animation: fa-spin 2s infinite linear;
}
// The animation bellow is taken from font-awesome.css
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.input {
  margin: 5%;
  width: 40%;
}
textarea {
  width: 45%;
  height: 20vh;
}
.nameemail {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
.submmitt {
  margin-top: 2%;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  .github {
    color: #24292e;
    background-color: #eff3f6;
    border: none;
    padding: 3% 5%;
    border: 1px solid #cdcfd1;
    cursor: pointer;
    overflow: visible;
    white-space: nowrap;
    margin-right: 5%;
    width: 100%;
    border-radius: 5px;
  }
  .github:hover {
    border: 1px solid #959596;
    background-color: #e3e6e9;
  }
  .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid lightgrey;
  }
  p {
    width: 46%;
  }
  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    width: 20%;
  }
  .nameAndIcon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    overflow: visible;
    white-space: nowrap;
  }

  .clipboard {
    color: #654321;
    padding-right: 3%;
  }

  .faLaptopCode {
    color: #dfa417;
    padding-right: 3%;
  }
  .faSpaceShuttle {
    color: #003b59;
    padding-right: 3%;
  }
  .visitSite {
    color: white;
    background-color: #5183f5;
    border: none;
    padding: 3% 5%;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #5183f5;
    overflow: visible;
  }
  .visitSite:hover {
    background-color: #385bab;
    border: 1px solid #203462;
  }
}
.freelance {
  .modernize {
    width: 60%;
    cursor: pointer;
  }
}

@media (max-width: 1624px) {
  .center {
    width: 70%;
  }
}

@media (max-width: 1414px) {
  .center {
    width: 80%;
  }
}
@media (max-width: 1274px) {
}
@media (max-width: 1034px) {
  .center {
    width: 95%;
  }
}
