@import url("https://fonts.googleapis.com/css?family=Baloo+Da+2|Roboto&display=swap");
.App {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  font-family: "Baloo Da 2", cursive;
}
.center {
  width: 60%;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 5% 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  .changeMode {
    color: #fefcd7;
    background-color: #141852;
    padding: 1%;
    border-radius: 10px;
    font-size: 1.6rem;
  }
}
.navlinks {
  width: 45%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  a {
    text-decoration: none;
    color: black;
    padding: 2%;
    border-radius: 15px;
  }
  a:hover {
    background-color: #f2f2f2;
    color: #6457db;
  }
}
.name {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    text-decoration: none;
    color: black;
    padding: 3%;
  }
  a:hover {
    color: #6457db;
  }
}

img {
  width: 100%;
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .mySection {
    width: 50%;
  }

  .img-hover-zoom {
    overflow: hidden;
    width: 40%;
  }
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform 0.5s ease;
  }

  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(3);
  }

  img {
    width: 100%;
  }
  .github {
    color: #24292e;
    background-color: #eff3f6;
    border: none;
    padding: 1% 3%;
    border: 1px solid #cdcfd1;
    margin-right: 2%;
    cursor: pointer;
    border-radius: 5px;
  }
  .github:hover {
    border: 1px solid #959596;
    background-color: #e3e6e9;
  }
  .linkedin {
    background-color: white;
    color: #0e76a8;
    border: none;
    padding: 1% 3%;
    border: 1px solid #0e76a8;
    margin-left: 2%;
    cursor: pointer;
    border-radius: 5px;
  }
  .linkedin:hover {
    background-color: rgb(241, 241, 241);
    border: 1px solid #0c6b97;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 0;
  margin-top: 10%;
  padding-bottom: 6%;
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: #6457db;
  }
}
.titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}
.totop {
  cursor: pointer;
}
.totop:hover {
  color: #6457db;
}
.icons {
  display: flex;
  justify-content: space-between;
  width: 10%;
}
.rotate {
  cursor: pointer;
}
.rotate:hover {
  animation: fa-spin 2s infinite linear;
  color: #6457db;
}
// The animation bellow is taken from font-awesome.css
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.input {
  margin: 5%;
  width: 40%;
}
textarea {
  width: 45%;
  height: 20vh;
}
.nameemail {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
.submmitt {
  margin-top: 2%;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  .github {
    color: #24292e;
    background-color: #eff3f6;
    border: none;
    padding: 3% 5%;
    border: 1px solid #cdcfd1;
    cursor: pointer;
    overflow: visible;
    white-space: nowrap;
    margin-right: 5%;
    width: 100%;
    border-radius: 5px;
  }
  .github:hover {
    border: 1px solid #959596;
    background-color: #e3e6e9;
  }
  .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid lightgrey;
  }
  p {
    width: 46%;
  }
  h2:hover {
    color: #6457db;
  }
  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    width: 20%;
  }
  .nameAndIcon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    overflow: visible;
    white-space: nowrap;
  }

  .clipboard {
    color: #654321;
    padding-right: 3%;
  }

  .faLaptopCode {
    color: #dfa417;
    padding-right: 3%;
  }
  .faSpaceShuttle {
    color: #003b59;
    padding-right: 3%;
  }
  .visitSite {
    color: white;
    background-color: #6457db;
    border: none;
    padding: 3% 5%;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #5183f5;
    overflow: visible;
    white-space: nowrap;
  }
  .visitSite:hover {
    background-color: #322b6d;
    border: 1px solid #1e1a41;
  }
}
.freelance {
  .modernize {
    width: 60%;
    cursor: pointer;
  }
}

@media (max-width: 1690px) {
  .center {
    width: 70%;
  }
}

@media (max-width: 1465px) {
  .center {
    width: 80%;
  }
}
@media (max-width: 1274px) {
  .center {
    width: 93%;
  }
}
@media (max-width: 1096px) {
  .icons {
    padding-right: 2%;
  }
  .navlinks {
    width: 55%;
  }
}

@media (max-width: 964px) {
  .icons {
    padding-right: 4%;
  }
  .titles {
    width: 20%;
  }
}
@media (max-width: 880px) {
  .navlinks {
    padding-right: 3%;
  }
}

@media (max-width: 874px) {
  .icons {
    padding-right: 7%;
  }
  .work p {
    width: 42%;
  }
  .navlinks {
    width: 65%;
  }
}
@media (max-width: 769px) {
  .freelance .modernize {
    width: 90%;
  }
  .footer .icons {
    width: 13%;
  }
}

@media (max-width: 743px) {
  .img-hover-zoom {
    display: none;
  }
  .about {
    display: flex;
    justify-content: space-evenly;
  }
  .work p {
    display: none;
  }
  .nameAndIcon {
    width: 40%;
    margin: 0;
    padding: 0;
  }
  .work .icons {
    width: 40%;
    margin: 0;
    padding: 0;
    padding-right: 7%;
    margin-right: 3%;
  }
  .task {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    overflow: visible;
  }
  .faLaptopCode {
    padding-left: 3%;
  }
  .about .mySection {
    width: 70%;
  }
}

@media (max-width: 670px) {
  .nav .name {
    display: none;
  }
  .navlinks {
    width: 100%;
  }
}

@media (max-width: 544px) {
  .work h2 {
    font-size: 15px;
  }
  .clipboard {
    font-size: 25px;
  }
  .faLaptopCode {
    font-size: 20px;
  }
  .faSpaceShuttle {
    font-size: 20px;
  }
  .about .mySection {
    width: 90%;
  }
  .footer .icons {
    width: 15%;
  }
}

@media (max-width: 488px) {
  .footer .icons {
    width: 19%;
    font-size: 13px;
  }
  .footer .titles {
    width: 26%;
  }
  .footer .totop {
    font-size: 25px;
  }
}
@media (max-width: 442px) {
  .work .icons {
    padding-right: 14%;
  }
}

@media (max-width: 397px) {
  .nav a {
    font-size: 12px;
  }
  .nav .changeMode {
    font-size: 16px;
  }
}

@media (max-width: 378px) {
  .work button {
    font-size: 10px;
  }
  .work .icons {
    padding-right: 12%;
  }
}
